--extra-index-url https://download.pytorch.org/whl/cu118
matplotlib==3.8.4
scikit-image==0.23.2
opencv-python==4.9.0.80
torch[cu118]==2.3.0
torchvision[cu118]==0.18.0
torchmetrics==1.4.0
torchinfo==1.8.0

albumentations==1.4.6

pydantic==2.7.1
tqdm==4.66.4

mlflow==2.12.1

typeguard==4.2.1

# development
pytest==8.2.0
black==24.4.2
pre-commit==3.7.0

# local run
notebook==7.1.3
